.container {
  display: flex;
  justify-content: center;
}
.nav {
  width: 30vw;
  position: fixed;
  display: block;
  align-self: center;
  top: 32px;
  display: flex;
  justify-content: space-around;
  border-radius: 16px;
}

.link {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  height: 40px;
}

.activeLink {
  background-color: #fff;
}

.inActiveLink {
  color: rgb(96, 96, 96);
}