.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 140px 40px 0px;
    gap: 20px;
}

.itemWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: white;
    align-items: center;
}

.buttonWrapper{
    width: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}

.cart{
    height: 40px;
    width: 60px;
    gap: 70px;
}

.count_txt{
    display: flex;
    align-items: end;
    justify-content: end;
};

.title_txt{
    max-width: 10px;
}