.footerParent {
  background-color: rgb(141, 141, 141);

  min-height: 80px;
  width: 100%; 
  overflow: hidden;
}

.footerChild {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 20px;
  margin-top: 30px;
}

.footerCont {
  display: flex;
  gap: 1rem;
}
